.fight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}
.fight-item {
  position: relative;
}
.fight-item__image {
  width: 50px;
  height: 50px;
  display: inline-block;
}
.fight__hero {
}
.fight__enemy {
  display: flex;
}

.fight__button {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 0;
  cursor: url("sworda.png"), auto;
}

.fight__button_secret-sword {
  position: relative;
  width: 100%;
  z-index: 1;
}

.fight__button:disabled {
  cursor: not-allowed;
  background-image: url("death.png");
  background-size: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}
